<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="./public/style.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
<title>TESTTT</title>
</head>
<body>
<div>
BIG TEST OF NODE.JS
</div>
<div>
Contact
</div>


</body>
</html>